#map-canvas {
    min-height: 395px;
    margin: 0px;
    padding: 0px
}

#markerForm > div:nth-child(3) > span > div.input-group > div.form-control.file-caption.kv-fileinput-caption {
    max-width: 100px;
}

#recaptcha_area {
    float: right;
}